<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 px-5">
				<h6>A propos</h6>
				<p class="text-justify">Blabla</p>
			</div>

			<div class="col-xs-6 col-md-3">
				<h6>Categories</h6>
				<ul class="footer-links">
					<li>
						<a href="#">Actualités</a>
					</li>
					<li>
						<a href="{{ path('default_home') }}">Metallian Store</a>
					</li>
				</ul>
			</div>

			<div class="col-xs-6 col-md-3">
				<h6>Liens rapides</h6>
				<ul class="footer-links">
					<li>
						<a href="{{ path('email_contact') }}">Nous contacter</a>
					</li>
					<li>
						<a href="#">Mention légales</a>
					</li>
					<li>
						<a href="#">Conditions générales de ventes</a>
					</li>
					<li>
						<a href="#" onclick="window.print();return false;" title="Click to print this page">Imprimer la page</a>
					</li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12 px-5">
				<p class="copyright-text">Copyright &copy; 2022 Tous Droits Réservés par Metallian Store.
				</p>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<ul
					class="social-icons">{# <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
						                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
						                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
						                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>    #}
				</ul>
			</div>
		</div>
	</div>
</footer>
