<footer class="site-footer text-white-50">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 px-5">
				<h6>A propos</h6>
				<p class="text-justify">Blabla</p>
			</div>

			<div class="col-xs-6 col-md-3">
				<h6>Catégories</h6>
				<ul class="footer-links">
					{{ render(url('render_categories_in_footer')) }}
				</ul>
			</div>

			<div class="col-xs-6 col-md-3">
				<h6>Liens rapides</h6>
				<ul class="footer-links">
					<li>
						<a class="text-white-50" href="{{ path('email_contact') }}">Nous contacter</a>
					</li>
					<li>
						<a class="text-white-50" href="#">Mention légales</a>
					</li>
					<li>
						<a class="text-white-50" href="#">Conditions générales de ventes</a>
					</li>
					<li>
						<a class="text-white-50" href="http://metallian.online/" target="_blank">Metallian Online</a>
					</li>
					<li>
						<a class="text-white-50" href="#" onclick="window.print();return false;" title="Click to print this page">Imprimer la page</a>
					</li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12 px-5">
				<p class="copyright-text">Copyright &copy; 2022 Tous Droits Réservés par Metallian Store.
				</p>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<ul class="social-icons">
					<li>
						<a class="facebook" href="https://fr-fr.facebook.com/" target="_blank">
							<i class="fa-brands fa-facebook-f"></i>
						</a>
					</li>

					<li>
						<a class="twitter" href="https://twitter.com/" target="_blank">
							<i class="fa-brands fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</footer>
