
    <div class="container-fluid">


	<div class="first-column">
		<p>Veuillez noter que la plupart de nos vêtements sont des tailles juniors, qui sont plus petites que les tailles américaines/européennes habituelles pour femmes. Reportez-vous au tableau des mesures pour chaque produit individuel afin de déterminer la meilleure taille pour vous. Le tableau des tailles et les informations spécifiques au produit peuvent être trouvés dans la description du produit ou dans la galerie de photos du produit.</p>
		<p>Notre équipe fait de son mieu pour inclure des mesures précises de tailles pour chaque articles dans la description. Si vous des questions a propos de la tailles ou autres informations a propos d'un article particulier, merci de nous contacter par mail au test@mail.fr pour de plus amples informations.</p>
	</div>
	{# <div class="second-column">
		<h3>Find the best size</h3>
		<p>When comparing your measurements to those listed on the site, make sure to check if the fabric is stretchy or not. If it is, it can stretch an inch or more.</p>
		<ul>
			<li>
				<strong>
					Bust:</strong>
				Wrap the measuring tape loosely around the fullest part of your bust to ensure a comfortable fit.</li>
			<li>
				<strong>Waist:</strong>
				Measure the narrowest part of your natural waist, holding the measuring tape loose enough to fit comfortably.</li>
			<li>
				<strong>Hips:</strong>
				Drape the measuring tape around the widest part of your hips, resting the tape comfortably against your body.</li>
			<li>
				<strong>Length:</strong>
				For tops and dresses, measure from the top of your shoulder to the hem. For strapless dresses, measure from the highest part of the neckline to the hem. For pants and skirts, measure from the top of the waist to the hem.</li>
			<li>
				<strong>Sleeve:</strong>
				With your arm outstretched, measure from the base of your neck to the end of the sleeve hem to determine where the sleeve length will fall on you.</li>
		</ul>
	</div> #}
	<div class="clearfix"></div>
	<hr class="hr"/>
	<h3 id="size-chart">Tableaux des tailles Metallian</h3>
	<br/>
	<div
		class="tabset">
		<!-- Tab 1 -->
		<input type="radio" name="tabset" id="tab1" aria-controls="dresses" checked="checked"/>
		<label for="tab1">Robes</label>
		<!-- Tab 2 -->
		<input type="radio" name="tabset" id="tab2" aria-controls="tops"/>
		<label for="tab2">Hauts</label>
		<!-- Tab 3 -->
		<input type="radio" name="tabset" id="tab3" aria-controls="bottoms"/>
		<label for="tab3">Bas</label>
		<!-- Tab 4 -->
		<input type="radio" name="tabset" id="tab4" aria-controls="denim"/>
		<label for="tab4">Jean</label>
		<!-- Tab 5 -->
		{# <input type="radio" name="tabset" id="tab5" aria-controls="swimwear"/>
		<label for="tab5">Maillots de bain</label> #}
		<!-- Tab 6 -->
		<input type="radio" name="tabset" id="tab6" aria-controls="shoes"/>
		<label for="tab6">Chaussures</label>
		<div class="tab-panels">
			<section id="dresses" class="tab-panel">
				<h2>Tableau des tailles de robes</h2>
				<div class="accordion" id="section1">Tableau des tailles de robes (Pouce)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="5" style="text-align: center;">
										<strong>ROBES</strong><br/>TAILLE EN POUCE</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">US / CAN</td>
									<td style="text-align: center;" bgcolor="#eee">POITRINE</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">HANCHE</td>
								</tr>
								<tr>
									<td style="text-align: center;">XS</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">31"-32"</td>
									<td style="text-align: center;">24"-25"</td>
									<td style="text-align: center;">34"-35"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">S</td>
									<td style="text-align: center;" bgcolor="#fafafa">2-4</td>
									<td style="text-align: center;" bgcolor="#fafafa">33"-34"</td>
									<td style="text-align: center;" bgcolor="#fafafa">26"-27"</td>
									<td style="text-align: center;" bgcolor="#fafafa">36"-37"</td>
								</tr>
								<tr>
									<td style="text-align: center;">M</td>
									<td style="text-align: center;">6-8</td>
									<td style="text-align: center;">35"-36"</td>
									<td style="text-align: center;">28"-29"</td>
									<td style="text-align: center;">38"-39"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">L</td>
									<td style="text-align: center;" bgcolor="#fafafa">10-12</td>
									<td style="text-align: center;" bgcolor="#fafafa">37"-39"</td>
									<td style="text-align: center;" bgcolor="#fafafa">30"-32"</td>
									<td style="text-align: center;" bgcolor="#fafafa">40"-42"</td>
								</tr>
								<tr>
									<td style="text-align: center;">XL</td>
									<td style="text-align: center;">14</td>
									<td style="text-align: center;">40"-42"</td>
									<td style="text-align: center;">33"-35"</td>
									<td style="text-align: center;">43"-45"</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="accordion" id="section2">Tableau des tailles de robes (cm)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="5" style="text-align: center;">
										<strong>ROBES</strong><br/>TAILLES EN CM</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">US / CAN</td>
									<td style="text-align: center;" bgcolor="#eee">POITRINE</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">HANCHE</td>
								</tr>
								<tr>
									<td style="text-align: center;">XS</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">78.7-81.2</td>
									<td style="text-align: center;">60.9-63.5</td>
									<td style="text-align: center;">86.3-88.9</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">S</td>
									<td style="text-align: center;" bgcolor="#fafafa">2-4</td>
									<td style="text-align: center;" bgcolor="#fafafa">83.8-86.3</td>
									<td style="text-align: center;" bgcolor="#fafafa">66-68.5</td>
									<td style="text-align: center;" bgcolor="#fafafa">91.4-93.9</td>
								</tr>
								<tr>
									<td style="text-align: center;">M</td>
									<td style="text-align: center;">6-8</td>
									<td style="text-align: center;">88.9-91.4</td>
									<td style="text-align: center;">71.1-73.6</td>
									<td style="text-align: center;">96.5-99</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">L</td>
									<td style="text-align: center;" bgcolor="#fafafa">10-12</td>
									<td style="text-align: center;" bgcolor="#fafafa">93.9-99</td>
									<td style="text-align: center;" bgcolor="#fafafa">76.2-81.2</td>
									<td style="text-align: center;" bgcolor="#fafafa">101.6-106.6</td>
								</tr>
								<tr>
									<td style="text-align: center;">XL</td>
									<td style="text-align: center;">14</td>
									<td style="text-align: center;">101.6-106.6</td>
									<td style="text-align: center;">81.2-88.9</td>
									<td style="text-align: center;">109.2-114.3</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<section id="tops" class="tab-panel">
				<h2>Tableau des tailles des hauts</h2>
				<div class="accordion" id="section1">Tableau des tailles des hauts (Pouce)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="4" style="text-align: center;">
										<strong>HAUTS</strong><br/>TAILLE EN POUCE</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">US / CAN</td>
									<td style="text-align: center;" bgcolor="#eee">POITRINE</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
								</tr>
								<tr>
									<td style="text-align: center;">XS</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">31"-32"</td>
									<td style="text-align: center;">24"-25"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">S</td>
									<td style="text-align: center;" bgcolor="#fafafa">2-4</td>
									<td style="text-align: center;" bgcolor="#fafafa">33"-34"</td>
									<td style="text-align: center;" bgcolor="#fafafa">26"-27"</td>
								</tr>
								<tr>
									<td style="text-align: center;">M</td>
									<td style="text-align: center;">6-8</td>
									<td style="text-align: center;">35"-36"</td>
									<td style="text-align: center;">28"-29"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">L</td>
									<td style="text-align: center;" bgcolor="#fafafa">10-12</td>
									<td style="text-align: center;" bgcolor="#fafafa">37"-39"</td>
									<td style="text-align: center;" bgcolor="#fafafa">30"-32"</td>
								</tr>
								<tr>
									<td style="text-align: center;">XL</td>
									<td style="text-align: center;">14</td>
									<td style="text-align: center;">40"-42"</td>
									<td style="text-align: center;">33"-35"</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="accordion" id="section2">Tableau des tailles des hauts (cm)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="4" style="text-align: center;">
										<strong>HAUTS</strong><br/>TAILLE EN CM</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">US / CAN</td>
									<td style="text-align: center;" bgcolor="#eee">POITRINE</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
								</tr>
								<tr>
									<td style="text-align: center;">XS</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">78.7-81.2</td>
									<td style="text-align: center;">60.9-63.5</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">S</td>
									<td style="text-align: center;" bgcolor="#fafafa">2-4</td>
									<td style="text-align: center;" bgcolor="#fafafa">83.8-86.3</td>
									<td style="text-align: center;" bgcolor="#fafafa">66-68.5</td>
								</tr>
								<tr>
									<td style="text-align: center;">M</td>
									<td style="text-align: center;">6-8</td>
									<td style="text-align: center;">88.9-91.4</td>
									<td style="text-align: center;">71.1-73.6</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">L</td>
									<td style="text-align: center;" bgcolor="#fafafa">10-12</td>
									<td style="text-align: center;" bgcolor="#fafafa">93.9-99</td>
									<td style="text-align: center;" bgcolor="#fafafa">76.2-81.2</td>
								</tr>
								<tr>
									<td style="text-align: center;">XL</td>
									<td style="text-align: center;">14</td>
									<td style="text-align: center;">101.6-106.6</td>
									<td style="text-align: center;">83.8-88.9</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<section id="bottoms" class="tab-panel">
				<h2>Tableaux des tailles des bas</h2>
				<div class="accordion" id="section1">Tableaux des tailles des bas (Pouce)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="4" style="text-align: center;">
										<strong>BAS</strong><br/>TAILLE EN POUCE</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">SIZE</td>
									<td style="text-align: center;" bgcolor="#eee">US / CAN</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">HANCHES</td>
								</tr>
								<tr>
									<td style="text-align: center;">XS</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">24"-25"</td>
									<td style="text-align: center;">34"-35"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">S</td>
									<td style="text-align: center;" bgcolor="#fafafa">2-4</td>
									<td style="text-align: center;" bgcolor="#fafafa">26"-27"</td>
									<td style="text-align: center;" bgcolor="#fafafa">36"-37"</td>
								</tr>
								<tr>
									<td style="text-align: center;">M</td>
									<td style="text-align: center;">6-8</td>
									<td style="text-align: center;">28"-29"</td>
									<td style="text-align: center;">38"-39"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">L</td>
									<td style="text-align: center;" bgcolor="#fafafa">10-12</td>
									<td style="text-align: center;" bgcolor="#fafafa">30"-32"</td>
									<td style="text-align: center;" bgcolor="#fafafa">40"-42"</td>
								</tr>
								<tr>
									<td style="text-align: center;">XL</td>
									<td style="text-align: center;">14</td>
									<td style="text-align: center;">33"-35"</td>
									<td style="text-align: center;">43"-45"</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="accordion" id="section2">Tableaux des tailles des bas (cm)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="4" style="text-align: center;">
										<strong>BAS</strong><br/>TAILLE EN CM</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">SIZE</td>
									<td style="text-align: center;" bgcolor="#eee">US / CAN</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">HANCHES</td>
								</tr>
								<tr>
									<td style="text-align: center;">XS</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">60.9-63.5</td>
									<td style="text-align: center;">86.3-88.9</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">S</td>
									<td style="text-align: center;" bgcolor="#fafafa">2-4</td>
									<td style="text-align: center;" bgcolor="#fafafa">66-68.5</td>
									<td style="text-align: center;" bgcolor="#fafafa">91.4-93.9</td>
								</tr>
								<tr>
									<td style="text-align: center;">M</td>
									<td style="text-align: center;">6-8</td>
									<td style="text-align: center;">71.1-73.6</td>
									<td style="text-align: center;">96.4-93.9</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">L</td>
									<td style="text-align: center;" bgcolor="#fafafa">10-12</td>
									<td style="text-align: center;" bgcolor="#fafafa">76.2-81.2</td>
									<td style="text-align: center;" bgcolor="#fafafa">101.6-106.6</td>
								</tr>
								<tr>
									<td style="text-align: center;">XL</td>
									<td style="text-align: center;">14</td>
									<td style="text-align: center;">83.8-88.9</td>
									<td style="text-align: center;">109.2-114.3</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<section id="denim" class="tab-panel">
				<h2>Tableaux des tailles des jeans</h2>
				<div class="accordion" id="section1">Tableaux des tailles des jeans (Pouce)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="5" style="text-align: center;">
										<b>JEANS</b><br/>TAILLES EN POUCE</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">TOUR DE TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE JUNIOR</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE BASSE</td>
									<td style="text-align: center;" bgcolor="#eee">HANCHES</td>
								</tr>
								<tr>
									<td style="text-align: center;">24</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">24"-25"</td>
									<td style="text-align: center;">26"-27"</td>
									<td style="text-align: center;">32"-33"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">25</td>
									<td style="text-align: center;" bgcolor="#fafafa">1</td>
									<td style="text-align: center;" bgcolor="#fafafa">25"-26"</td>
									<td style="text-align: center;" bgcolor="#fafafa">28"-29"</td>
									<td style="text-align: center;" bgcolor="#fafafa">33"-34"</td>
								</tr>
								<tr>
									<td style="text-align: center;">26</td>
									<td style="text-align: center;">3</td>
									<td style="text-align: center;">26"-27"</td>
									<td style="text-align: center;">30"-31"</td>
									<td style="text-align: center;">34"-35"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">27</td>
									<td style="text-align: center;" bgcolor="#fafafa">5</td>
									<td style="text-align: center;" bgcolor="#fafafa">27"-28"</td>
									<td style="text-align: center;" bgcolor="#fafafa">31"-32"</td>
									<td style="text-align: center;" bgcolor="#fafafa">35"-36"</td>
								</tr>
								<tr>
									<td style="text-align: center;">28</td>
									<td style="text-align: center;">7</td>
									<td style="text-align: center;">28"-29"</td>
									<td style="text-align: center;">32"-33"</td>
									<td style="text-align: center;">36"-37"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">29</td>
									<td style="text-align: center;" bgcolor="#fafafa">9</td>
									<td style="text-align: center;" bgcolor="#fafafa">29"-30"</td>
									<td style="text-align: center;" bgcolor="#fafafa">33"-34"</td>
									<td style="text-align: center;" bgcolor="#fafafa">37"-38"</td>
								</tr>
								<tr>
									<td style="text-align: center;">30</td>
									<td style="text-align: center;">11</td>
									<td style="text-align: center;">30"-31"</td>
									<td style="text-align: center;">34"-35"</td>
									<td style="text-align: center;">38"-39"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">31</td>
									<td style="text-align: center;" bgcolor="#fafafa">13</td>
									<td style="text-align: center;" bgcolor="#fafafa">31"-3"</td>
									<td style="text-align: center;" bgcolor="#fafafa">35"-36"</td>
									<td style="text-align: center;" bgcolor="#fafafa">39"-40"</td>
								</tr>
								<tr>
									<td style="text-align: center;">32</td>
									<td style="text-align: center;">15</td>
									<td style="text-align: center;">32"-33"</td>
									<td style="text-align: center;">36"-37"</td>
									<td style="text-align: center;">40"-41"</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="accordion" id="section2">Tableaux des tailles des jeans (cm)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="5" style="text-align: center;">
										<strong>JEANS</strong><br/>TAILLE EN CM</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">TOUR DE TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE JUNIOR</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE</td>
									<td style="text-align: center;" bgcolor="#eee">TAILLE BASSE</td>
									<td style="text-align: center;" bgcolor="#eee">HANCHES</td>
								</tr>
								<tr>
									<td style="text-align: center;">24</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">60.9-63.5</td>
									<td style="text-align: center;">66-68.5</td>
									<td style="text-align: center;">81.2-83.8</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">25</td>
									<td style="text-align: center;" bgcolor="#fafafa">1</td>
									<td style="text-align: center;" bgcolor="#fafafa">63.5-66</td>
									<td style="text-align: center;" bgcolor="#fafafa">71.1-73.6</td>
									<td style="text-align: center;" bgcolor="#fafafa">83.8-86.3</td>
								</tr>
								<tr>
									<td style="text-align: center;">26</td>
									<td style="text-align: center;">3</td>
									<td style="text-align: center;">66-68.5</td>
									<td style="text-align: center;">76.2-78.7</td>
									<td style="text-align: center;">86.3-88.9</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">27</td>
									<td style="text-align: center;" bgcolor="#fafafa">5</td>
									<td style="text-align: center;" bgcolor="#fafafa">68.5-71.1</td>
									<td style="text-align: center;" bgcolor="#fafafa">78.7-81.2</td>
									<td style="text-align: center;" bgcolor="#fafafa">88.9-91.4</td>
								</tr>
								<tr>
									<td style="text-align: center;">28</td>
									<td style="text-align: center;">7</td>
									<td style="text-align: center;">71.1-73.6</td>
									<td style="text-align: center;">81.2-83.8</td>
									<td style="text-align: center;">91.4-93.9</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">29</td>
									<td style="text-align: center;" bgcolor="#fafafa">9</td>
									<td style="text-align: center;" bgcolor="#fafafa">73.6-76.2</td>
									<td style="text-align: center;" bgcolor="#fafafa">83.8-86.3</td>
									<td style="text-align: center;" bgcolor="#fafafa">93.9-96.5</td>
								</tr>
								<tr>
									<td style="text-align: center;">30</td>
									<td style="text-align: center;">11</td>
									<td style="text-align: center;">76.2-78.7</td>
									<td style="text-align: center;">86.3-88.9</td>
									<td style="text-align: center;">96.5-99</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">31</td>
									<td style="text-align: center;" bgcolor="#fafafa">13</td>
									<td style="text-align: center;" bgcolor="#fafafa">78.7-81.2</td>
									<td style="text-align: center;" bgcolor="#fafafa">88.9-91.4</td>
									<td style="text-align: center;" bgcolor="#fafafa">99-101.6</td>
								</tr>
								<tr>
									<td style="text-align: center;">32</td>
									<td style="text-align: center;">15</td>
									<td style="text-align: center;">81.2-83.8</td>
									<td style="text-align: center;">91.4-93.9</td>
									<td style="text-align: center;">101.6-104.1</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			{# <section id="swimwear" class="tab-panel">
				<h2>Swimwear Size Chart</h2>
				<div class="accordion" id="section1">Swimwear Size Chart (Inch)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="5" style="text-align: center;">
										<strong>SWIMWEAR</strong><br/>SIZE IN INCHES</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">SIZE</td>
									<td style="text-align: center;" bgcolor="#eee">US / CAN</td>
									<td style="text-align: center;" bgcolor="#eee">BUST</td>
									<td style="text-align: center;" bgcolor="#eee">WAIST</td>
									<td style="text-align: center;" bgcolor="#eee">HIPS</td>
								</tr>
								<tr>
									<td style="text-align: center;">XS</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">31"-32"</td>
									<td style="text-align: center;">24"-25"</td>
									<td style="text-align: center;">33"-34"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">S</td>
									<td style="text-align: center;" bgcolor="#fafafa">2</td>
									<td style="text-align: center;" bgcolor="#fafafa">33"-34"</td>
									<td style="text-align: center;" bgcolor="#fafafa">26"-27"</td>
									<td style="text-align: center;" bgcolor="#fafafa">35"-37"</td>
								</tr>
								<tr>
									<td style="text-align: center;">M</td>
									<td style="text-align: center;">4</td>
									<td style="text-align: center;">35"-36"</td>
									<td style="text-align: center;">28"-29"</td>
									<td style="text-align: center;">37"-38"</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">L</td>
									<td style="text-align: center;" bgcolor="#fafafa">6</td>
									<td style="text-align: center;" bgcolor="#fafafa">37"-39"</td>
									<td style="text-align: center;" bgcolor="#fafafa">30"-32"</td>
									<td style="text-align: center;" bgcolor="#fafafa">39"-41"</td>
								</tr>
								<tr>
									<td style="text-align: center;">XL</td>
									<td style="text-align: center;">8</td>
									<td style="text-align: center;">40"-42"</td>
									<td style="text-align: center;">33"-35"</td>
									<td style="text-align: center;">42"-44"</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="accordion" id="section2">Swimwear Size Chart (cm)<span></span>
				</div>
				<div class="container">
					<div class="content">
						<table width="100%">
							<tbody>
								<tr>
									<td colspan="5" style="text-align: center;">
										<strong>SWIMWEAR</strong><br/>SIZE IN CM</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#eee">SIZE</td>
									<td style="text-align: center;" bgcolor="#eee">US / CAN</td>
									<td style="text-align: center;" bgcolor="#eee">BUST</td>
									<td style="text-align: center;" bgcolor="#eee">WAIST</td>
									<td style="text-align: center;" bgcolor="#eee">HIPS</td>
								</tr>
								<tr>
									<td style="text-align: center;">XS</td>
									<td style="text-align: center;">0</td>
									<td style="text-align: center;">78.7-81.2</td>
									<td style="text-align: center;">60.9-63.5</td>
									<td style="text-align: center;">83.8-86.3</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">S</td>
									<td style="text-align: center;" bgcolor="#fafafa">2</td>
									<td style="text-align: center;" bgcolor="#fafafa">83.8-86.3</td>
									<td style="text-align: center;" bgcolor="#fafafa">66-68.5</td>
									<td style="text-align: center;" bgcolor="#fafafa">88.9-93.9</td>
								</tr>
								<tr>
									<td style="text-align: center;">M</td>
									<td style="text-align: center;">4</td>
									<td style="text-align: center;">88.9-91.4</td>
									<td style="text-align: center;">71.1-73.6</td>
									<td style="text-align: center;">93.9-96.5</td>
								</tr>
								<tr>
									<td style="text-align: center;" bgcolor="#fafafa">L</td>
									<td style="text-align: center;" bgcolor="#fafafa">6</td>
									<td style="text-align: center;" bgcolor="#fafafa">93.9-99</td>
									<td style="text-align: center;" bgcolor="#fafafa">76.2-81.2</td>
									<td style="text-align: center;" bgcolor="#fafafa">99-104.1</td>
								</tr>
								<tr>
									<td style="text-align: center;">XL</td>
									<td style="text-align: center;">8</td>
									<td style="text-align: center;">101.6-106.6</td>
									<td style="text-align: center;">81.2-88.9</td>
									<td style="text-align: center;">106.6-111.7</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section> #}
			<section id="shoes" class="tab-panel">
				<h2>Tableaux des tailles des chaussures</h2>
				<table width="100%" style="margin-left: auto; margin-right: auto;">
					<tbody>
						<tr>
							<td bgcolor="#eee" style="text-align: center;">US</td>
							<td bgcolor="#eee" style="text-align: center;">EURO</td>
							<td bgcolor="#eee" style="text-align: center;">UK</td>
							<td bgcolor="#eee" style="text-align: center;">AUS</td>
							<td bgcolor="#eee" style="text-align: center;">JAPAN</td>
							<td bgcolor="#eee" style="text-align: center;">CHINA</td>
						</tr>
						<tr>
							<td style="text-align: center;">5</td>
							<td style="text-align: center;">35-36</td>
							<td style="text-align: center;">3</td>
							<td style="text-align: center;">3.5</td>
							<td style="text-align: center;">21.5</td>
							<td style="text-align: center;">35</td>
						</tr>
						<tr>
							<td style="text-align: center;" bgcolor="#fafafa">5.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">36</td>
							<td style="text-align: center;" bgcolor="#fafafa">3.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">4</td>
							<td style="text-align: center;" bgcolor="#fafafa">22</td>
							<td style="text-align: center;" bgcolor="#fafafa">35.5</td>
						</tr>
						<tr>
							<td style="text-align: center;">6</td>
							<td style="text-align: center;">36-37</td>
							<td style="text-align: center;">4</td>
							<td style="text-align: center;">4.5</td>
							<td style="text-align: center;">22.5</td>
							<td style="text-align: center;">36</td>
						</tr>
						<tr>
							<td style="text-align: center;" bgcolor="#fafafa">6.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">37</td>
							<td style="text-align: center;" bgcolor="#fafafa">4.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">5</td>
							<td style="text-align: center;" bgcolor="#fafafa">23</td>
							<td style="text-align: center;" bgcolor="#fafafa">36.5</td>
						</tr>
						<tr>
							<td style="text-align: center;">7</td>
							<td style="text-align: center;">37-38</td>
							<td style="text-align: center;">5</td>
							<td style="text-align: center;">5.5</td>
							<td style="text-align: center;">23.5</td>
							<td style="text-align: center;">37</td>
						</tr>
						<tr>
							<td style="text-align: center;" bgcolor="#fafafa">7.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">38</td>
							<td style="text-align: center;" bgcolor="#fafafa">5.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">6</td>
							<td style="text-align: center;" bgcolor="#fafafa">24</td>
							<td style="text-align: center;" bgcolor="#fafafa">37.5</td>
						</tr>
						<tr>
							<td style="text-align: center;">8</td>
							<td style="text-align: center;">38-39</td>
							<td style="text-align: center;">6</td>
							<td style="text-align: center;">6.5</td>
							<td style="text-align: center;">24.5</td>
							<td style="text-align: center;">38</td>
						</tr>
						<tr>
							<td style="text-align: center;" bgcolor="#fafafa">8.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">39</td>
							<td style="text-align: center;" bgcolor="#fafafa">6.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">7</td>
							<td style="text-align: center;" bgcolor="#fafafa">25</td>
							<td style="text-align: center;" bgcolor="#fafafa">38.5</td>
						</tr>
						<tr>
							<td style="text-align: center;">9</td>
							<td style="text-align: center;">39-40</td>
							<td style="text-align: center;">7</td>
							<td style="text-align: center;">7.5</td>
							<td style="text-align: center;">25.5</td>
							<td style="text-align: center;">39</td>
						</tr>
						<tr>
							<td style="text-align: center;" bgcolor="#fafafa">9.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">40</td>
							<td style="text-align: center;" bgcolor="#fafafa">7.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">8</td>
							<td style="text-align: center;" bgcolor="#fafafa">26</td>
							<td style="text-align: center;" bgcolor="#fafafa">39.5</td>
						</tr>
						<tr>
							<td style="text-align: center;">10</td>
							<td style="text-align: center;">40-41</td>
							<td style="text-align: center;">8</td>
							<td style="text-align: center;">8.5</td>
							<td style="text-align: center;">26.5</td>
							<td style="text-align: center;">40</td>
						</tr>
						<tr>
							<td style="text-align: center;" bgcolor="#fafafa">11</td>
							<td style="text-align: center;" bgcolor="#fafafa">41-42</td>
							<td style="text-align: center;" bgcolor="#fafafa">9</td>
							<td style="text-align: center;" bgcolor="#fafafa">9.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">27.5</td>
							<td style="text-align: center;" bgcolor="#fafafa">41</td>
						</tr>
					</tbody>
				</table>
			</section>
			<p>
				<strong>Attention:</strong>
				Ce guide fournit uniquement des informations générales sur les tailles, et la coupe peut varier en fonction du style et de la marque. Pour des informations de dimensionnement plus spécifiques sur le produit, veuillez vous référer à la description du produit.</p>
		</div>
	</div>
	<p>NOTE:</p>
	<ul>
		{# <li>All JewelClues models are wearing size small in tops and dresses, and size 1, 3, or 5 in jeans depending on their body type.</li>
		<li>Most JewelClues jeans &amp; dresses have some stretch, please refer to product description for fabric details.</li>
		<li>Most JewelClues bottoms have an inseam of 31-34” depending on the cut and style. Sizing may vary depending on cut and style.</li> #}
	</ul>
	<br/>
	<h4 style="text-align: center;">Besoin d'aide ? Contactez nous au</h4>
	<h4 style="text-align: center;">01 23 45 67 89</h4>

    </div>

