{% for category in categories %}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ category.title }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                {% for subcategory in souscategories %}
                    
                    <a class="dropdown-item" href="#">{{ subcategory.title }}</a>

                {% endfor %}
            </li>
        </ul>
    </li>

{% endfor %}