{% for category in categoriesMerchandising %}

    <li class="nav-item dropdown">
        <div class="navigation-color">
            <a class="nav-link dropdown-toggle" href="{{ path('show_from_category_merchandising', {"title": category.title}) }}" style="color: black" id="navbarDropdown" role="button"  aria-expanded="false">
            
                {{ category.title }}
            
            </a>
        </div>
        <ul class="dropdown-menu border-0 rounded-0 shadow p-3 mb-5 bg-body rounded" aria-labelledby="navbarDropdown">
            <li>
                {% for subcategory in souscategoriesMerchandising %}

                    {% if subcategory.categorieMerchandising.title == category.title %}
                    
                        <a class="dropdown-item text-underline-hover" href="{{ path('show_merchandising_sous_categorie', {"title": subcategory.title, "title1": category.title}) }}">{{ subcategory.title }}</a>

                    {% endif %}

                {% endfor %}
                
            </li>
        </ul>
    </li>

{% endfor %}