{% for category in categories %}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ path('show_vetements_from_category', {"title": category.title}) }}" id="navbarDropdown" role="button"  aria-expanded="false">
            {{ category.title }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                {% for subcategory in souscategories %}

                    {% if subcategory.categorie.title == category.title %}
                    
                    <a class="dropdown-item" href="{{ path('show_souscategorie_from_category', {"title": subcategory.title, "title1": category.title}) }}">{{ subcategory.title }}</a>

                    {% endif %}

                {% endfor %}
            </li>
        </ul>
    </li>

{% endfor %}