{% extends "base.html.twig" %}

{% block title %}Commande numéro {{ order.id }}{% endblock %}

{% block body %}

<div class="container-xl">

    <h1 class="pt-5 text-center">Confirmation d'expédition de la commande numéro {{order.id}}</h1>

    <div class="py-5">
        <p>Merci de renseigner le numéro de suivi et le lien direct pour le suivi du colis pour la commande numéro {{order.id}}.</p>
        {{form(form)}}
    </div>

</div>


{% endblock %}