{% extends "base.html.twig" %}

{% block title %}Mon espace perso{% endblock %}

{% block body %}

    <div class="container">

        <div class="row my-5">

            {# <div class="col-1"></div> #}

            <h1 class="col-10 ms-5">Mon espace Personnel</h1>

        </div>

        <div class="row">
    
        {# <div class="col-1" style="height: 300px"></div> #}

        <div class="col-3 g-0" style="height: 300px">
        
            <div class="col-9 ms-auto ps-5"  style="height: 100px">
            
                <h3 class="align-middle" style="padding-top: 2rem"><a href="{{ path('show_profile', {"id": app.user.id}) }}" class="text-reset text-decoration-none"> Détails</a></h3>

            </div>

            <div class="col-9 ms-auto ps-5" style="height: 100px; background-color:white;">
            
                <h3 class="align-middle" style="padding-top: 2rem"><a href="{{ path('show_profile_orders', {"id": app.user.id}) }}" class="text-reset text-decoration-none" >Commandes</a></h3>

            </div>

            <div class="col-9 ms-auto ps-5" style="height: 100px">
            
                <h3 class="align-middle" style="padding-top: 2rem"><a href="{{ path('show_profile_adress', {"id": app.user.id}) }}" class="text-reset text-decoration-none" >Adresses</a></h3>

            </div>
        
        </div>

        <div class="col-8 mb-5" style="height: 1000px; background-color:white;">

            <div class="col-12">
            
                <h2 style="padding-top: 3rem; padding-left: 4rem"> Mes détails</h2>
            
            </div>

            <div class="row">
            
                <h5 class="col-11 mt-4" style="padding-left: 4rem">Vos commandes<hr></h5>
                
                <div class="col-11" style="padding-left: 4rem">
                
                    
                   
                
                </div>
            
            
            </div>
        
            
        
        </div>


    </div>

    </div>

{% endblock %}